{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--POKEMONCARD-->
<section class="pokemon-container">
    <table class="styled-table">
      <tbody>
        <tr>
          <th>Pokemon Name</th>
          <th>Rarity</th>
        </tr>
        {% for object in object_list %}
        <!--ASH-->
        <tr>
          <td>{{ object.name }}</td>
          <td>{{ object.rarity }}</td>
        </tr>
        {% empty %}
                <tr>
                  <td colspan="4" style="text-align: center;">
                    <p>No Records Found</p>
                </td>
                </tr>
        {% endfor %}
        <!--GARY-->
        
      </tbody>
    </table>
    
    
  </section>
  <div>
    {% include 'includes/pagination.html' %}
  </div>
   
  
  
  
{% endblock %}